/*Sidebar Style*/
.sidebar {
  background-color: #303841
;
  position: fixed;
  width: 120px;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.list-icons > li {
  list-style: none;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-icons {
  padding-left: 0;
}


/*Body Style*/

body {
  background-color: #EEEEEE;
  font-family: 'Open Sans', sans-serif;
  color: #585858;
  line-height: 25px;
  font-size: 15px;
}

h1 {
  color: #00ADB5;
  font-family: 'Montserrat', sans-serif;
}

h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: #585858;
}

a {
  text-decoration: none;
  color: #949494;
}

a:hover {
  text-decoration: underline;
  color: #00ADB5;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.content {
  margin-left: 120px;
}

.box-white {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

.list-inline > li {
  display:inline-block;
  padding: 10px 20px;
  font-size: 25px;
}

.list-inline {
  padding: 0px;
}

.pic-smaller {
  width: 120px;
  height: 170px;
  padding: 10px 10px;
}

.text-top {
  vertical-align: top;
  padding-top: 0;
}

.text-top h3 {
  margin-top: 12px;
}

.btn-red {
  background-color: #00ADB5;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-weight: 500;
}

.btn-red:hover {
  background-color: #AD4242;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-weight: 500;
}

.pic-circle {
  border-radius: 50%;
}

#margin-bottom-decrease {
  margin-bottom: 5px;
}

#margin-top-decrease {
  margin-top: 5px;
}

/*Album Style*/

div.gallery {
  margin: 10px;
  border: 1px;
}

div.gallery img{
  width: 150px;
  height: 100px;
}

div.gallery:hover {
  background-color: rgba(0,255,0,0.3);
}

